@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.9em;
}

table {
    width: 400px;
    height: 160px;
    border-collapse: collapse;
}

tr td {
    border: 2px solid #343434;
    text-align: center;
}