@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  font-family: "Roboto Mono";
  color: #1f3545;
  margin: 0px;
}
header {
  width: 100%;
  height: 100px;
  background-color: #112533;
  color: #fff;
}
nav {
  width: 20%;
  float: left;
  background-color: #969696;
  height: 350px;
}
main {
  width: 20%;
  float: left;
  height: 350px;
}
footer {
  width: 100%;
  height: 75px;
  background-color: #112533;
  color: #fff;
}
