section {
  margin: 15px;
  font-family: Arial, sans-serif;
}

/* Title Group Styles */
.titleGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titleGroup h1 {
  margin: 20px;
}

.titleGroup img {
  width: 90px;
  height: 90px;
  /* Estilo arredondado */
  border-radius: 30%;
}

/* Navigation Styles */
.navSticky {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

/* About Styles */
.about {
  margin-left: 7.5px;
}

/* History Styles */
.history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.history .right {
  flex: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  align-self: center;
}

.imagesCity {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
  justify-content: space-between;
  /* Estilo arredondado */
  border-radius: 10px;
}

#img-city {
  width: 40%;
  height: auto;
}

#final-text {
  align-self: center;
  width: 50%;
}

/* Bottom Page Styles */

.bottomPage {
  height: 50px;
  background-color: #f7f7f7;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottomPage a {
  margin: 0 15px;
  text-decoration: none;
  color: #337ab7;
  /* add a default text color */
}