section {
  margin: 15px;
  font-family: Arial, sans-serif;
}

/* Caption text */
.text-container {
  text-align: center;
  width: 100%;
}

.text {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.603);
  color: #f2f2f2;
  font-size: 30px;
  border-radius: 15px;
}


/* About Styles */
.about {
  display: flex;
  flex-direction: row;
  
}